@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-width: 375px;
    font-size: 100%;
    background-color: hsl(0, 0%, 95%);
}

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 1440px;
    width: 70%;
}

.sedans{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    background-color: hsl(31, 77%, 52%);
    text-align: left;
    padding: 30px 20px;
    gap: 20px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.suvs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    background-color: hsl(184, 100%, 22%);
    padding: 30px 20px;
    gap: 20px;
    width: 100%;
}

.luxury{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    background-color: hsl(179, 100%, 13%);
    padding: 30px 20px;
    gap: 20px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
}

h1{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
}

a{
    color: hsl(0, 0%, 95%);
}

a:link{
    text-decoration: none;
}

.first-button{
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
    
}

.first-button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.second-button{
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
}

.second-button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}

.third-button{
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: hsl(0, 0%, 95%);
    padding: 10px 30px;
}

.third-button:hover{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}

@media (min-width: 800px){
    .container{
        flex-direction: row;
        height: 400px;
        align-items: stretch;
    }
    
    .sedans{
        border-radius: 4px 0 0 4px;
    }

    .luxury{
        border-radius: 0 4px 4px 0;
        margin-bottom: 0;
    }
}

footer{
    text-align: center;
    font-size: 0.8rem;
}